body{
    color: white;
    background-color: #660e21;
}
#demo{
    font-size: 150px;
    text-align: center;
    margin-top: 8px;
    font-family: "Mountains of Christmas", serif;
    font-weight: 1000;
    font-style: normal;
}
#demome{
    margin-bottom: 0px;
    text-align: center;
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
}
.countdown{
    margin-top: 0%;
}
.christmastext{
    text-align: center;
}
@media screen and (max-width:800px) {
    #demo{
        font-size: 55px;
    }
    #demome{
        font-size: 25px;
    }
    .countdown{
        margin-top: 15%;
    }
}
@media screen and (max-width:400px) {
    button{
        margin-left: 105px;
    }
}
li{
    list-style-type: none;
    letter-spacing: 1px;
    padding-bottom: 3px;
    padding-top: 3px;
    transition: 0.5s;
    font-family: "Mountains of Christmas", serif;
}
.musicdiv{
    margin-top: -25px;
    transition: 0.5s;
}
.buble{
    display: none;
    transition: 0.5s;
}
.right{ 
    background-color: white;
    color:#660e21;
    margin-left: -150px;
    height: 63px;
    width: 180px;
    transition: 0.5s;
    border-radius: 20px;
    margin-bottom: 5%;
}
audio{
    background-color: #660e21;
    width: 40px;
    transition: 0.5s;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}
button{
    background-color: white;
    color: #660e21;
    font-family: "Mountains of Christmas", serif;
    border: none;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 113px;
    transition: 0.5s;
}
button:hover{
    transition: 0.5s;
    background-color: #660e21;
    color: white;
    transform: scale(1.1);
}
