body{
    color: white;
    background-color: #660e21;
}
p{
    font-family: 'Christmas   Classica', sans-serif;
                                                
}
#demo{
    font-size: 150px;
    text-align: center;
    margin-top: -10px;
    font-family: "Mountains of Christmas", serif;
    font-weight: 1000;
    font-style: normal;
}


#demome{
    margin-bottom: 0px;
    text-align: center;
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
}
/* 
#days, #hours, #miuntes, #seconds{
    transition: 0.5s;
} */



.countdown{
    margin-top: 0%;
}
.christmastext{
    text-align: center;
}
@media screen and (max-width:800px) {

    #demo{
        font-size: 70px;
    }
    #demome{
        font-size: 25px;
    }
    .countdown{
        margin-top: 10%;
    }
    .hrka{
        width: 50%;
    }
}
li{
    list-style-type: none;
    letter-spacing: 1px;
    padding-bottom: 3px;
    padding-top: 3px;
    /* transition: 0.5s; */
    font-family: "Mountains of Christmas", serif;
}
.musicdiv{
    margin-top: -25px;
    /* transition: 0.5s; */
}
.buble{
    display: block;
    /* transition: 0.5s; */
}
.right{ 
    background-color: white;
    color:#660e21;
    margin-left: -150px;
    height: 63px;
    width: 180px;
    transition: 0.5s;
    border-radius: 20px;
    margin-bottom: 5%;
}
@media screen and (max-width:800px){
    .right{
        width: 100px;
        margin-left: -90px;
    }
    ul{margin-left: -20px;}
    
}
audio{
    background-color: #660e21;
    width: 40px;
    /* transition: 0.5s; */
    border-radius: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}
button{
    background: none;
    color: #660e21;
    font-family: "Mountains of Christmas", serif;
    border: none;
    /* background-color: #660e21; */
    border-radius: 10px;
    margin-left: 80px;
    transition: 0.5s;
    visibility: hidden;

}

button:hover{
    transition: 0.5s;
    transform: scale(1.4);
}
@media screen and (max-width:800px){
    button{
        margin-left: 45px;
    }
    button:hover{
        transform: none;
    }
    h4{
        transition: 1s;
        font-family: "Mountains of Christmas", serif;
        text-orientation: upright;
        color: green;
        margin-left:60px;
        margin-top:-60px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

.hrka{
    width:40%;
}
h4{
    transition: 1s;
    font-family: "Mountains of Christmas", serif;
    text-orientation: upright;
    color: green;
    margin-left:110px;
    margin-top:-60px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
@media screen and (max-width:800px) {
    h4{
        transition: 1s;
        font-family: "Mountains of Christmas", serif;
        text-orientation: upright;
        color: green;
        margin-left:60px;
        margin-top:-60px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}
.flex{
    margin-top: -10px;
    width: 40%;
    margin-left: 30%;
    justify-content: center;
    margin-bottom: 0px;
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
}
@media screen and (max-width:800px) {
    .flex{
        gap: 10px;
    }
    #demo{
        margin-top: -50px;
    }
}
.flex1{
    font-size: 80px;
    text-align: center;
    margin-top: -90px;
    font-family: "Mountains of Christmas", serif;
    font-weight: 1000;
    font-style: normal;
    width: 60%;
    margin-left: 30%;
    justify-content: center;
}
@keyframes fall {
    to {
      transform: translateY(900px);
    }
  }
  .fall {
    z-index: 0;
    position: absolute;
    margin-top: -10%;
  }
  .fall2 {
    z-index: 0;
    position: absolute;
    margin-top: -65%;
    margin-left: 75%;
  }
  .snowFlakes1,
  .snowFlakes2,
  .snowFlakes3,
  .snowFlakes4,
  .snowFlakes5,
  .snowFlakes6,
  .snowFlakes7,
  .snowFlakes8,
  .snowFlakes9,
  .snowFlakes10 
  .snowFlakes11,
  .snowFlakes12,
  .snowFlakes13,
  .snowFlakes14,
  .snowFlakes15,
  .snowFlakes16,
  .snowFlakes17,
  .snowFlakes18,
  .snowFlakes19,
  .snowFlakes20{
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
  }
  .snowFlakes1 {
    animation: 9s linear infinite fall;
    left: 80px;
    opacity: 0.6;
  }
  .snowFlakes2 {
    animation: 8s linear infinite fall;
    left: 140px;
    transform: scale(2.2);
  }
  .snowFlakes3 {
    animation: 8s linear infinite fall;
    left: 70px;
    opacity: 0.6;
  }
  .snowFlakes4 {
    animation: 12s linear infinite fall;
    left: 40px;
    transform: scale(1.8);
    opacity: 0.6;
  }
  .snowFlakes5 {
    animation: 12.5s linear infinite fall;
    left: 190px;
  }
  .snowFlakes6 {
    animation: 7s linear infinite fall;
    left: 220px;
    opacity: 0.6;
  }
  .snowFlakes7 {
    animation: 16s linear infinite fall;
    left: 250px;
    transform: scale(2);
  }
  .snowFlakes8 {
    animation: 6s linear infinite fall;
    left: 30px;
    opacity: 0.6;
  }
  .snowFlakes9 {
    animation: 10s linear infinite fall;
    left: 130px;
  }
  .snowFlakes10 {
    animation: 8s linear infinite fall;
    left: 230px;
    opacity: 0.6;
  }
  .snowFlakes11 {
    animation: 9s linear infinite fall;
    left: 10px;
    opacity: 0.6;
  }
  .snowFlakes12 {
    animation: 8s linear infinite fall;
    left: 260px;
    transform: scale(2.2);
  }
  .snowFlakes13 {
    animation: 8s linear infinite fall;
    left: 20px;
    opacity: 0.6;
  }
  .snowFlakes14 {
    animation: 12s linear infinite fall;
    left: 290px;
    transform: scale(1.8);
    opacity: 0.6;
  }
  .snowFlakes15 {
    animation: 7.5s linear infinite fall;
    left: 20px;
  }
  .snowFlakes16 {
    animation: 5s linear infinite fall;
    left: 300px;
    opacity: 0.6;
  }
  .snowFlakes17 {
    animation: 14s linear infinite fall;
    left: 275px;
    transform: scale(2);
  }
  .snowFlakes18 {
    animation: 4s linear infinite fall;
    left: 25px;
    opacity: 0.6;
  }
  .snowFlakes19 {
    animation: 17s linear infinite fall;
    left: 142px;
  }
  .snowFlakes20 {
    animation: 6s linear infinite fall;
    left: 15px;
    opacity: 0.6;
  }
  